.containerTabela {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: grid;
  height: 88vh;
  place-items: center;
  background-color: rgb(168, 218, 120);
  padding: 5px;
}

.form__title {
  font-weight: 300;
  margin: 0;
  margin-bottom: 3rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.container {
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  border: none;
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: 470px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 150%;
  margin-bottom: 10px;
}

/* ------------------------------------- Header ---------------------------- */
header {
  height: 80px;
  display: flex;
  background-color: #2b2b2b;
  padding-left: 900px;
}

header .nav {
  position: absolute;
  width: 100%;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header .logo {
  position: relative;
  max-width: 100px;
}

nav ul {
  position: relative;
  display: flex;

}

nav ul a {
  color: aliceblue;
  margin: 0px;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-bottom: 100px;

}

nav ul a:not(.btn)::after {
  content: "";
  background-color: #e1b000;
  height: 3px;
  width: 0%;
  display: block;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

nav li {
  list-style: none;
}

nav li a {
  padding: 1px 0px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  margin-left: 50px;

}

/* ------------------------------------------ Botão Login ----------------------------- */
.containerBotoes {
  display: flex;
  margin-left: 40px;
  margin-top: 25px;
}
.textVoltar{
  display: flex;
  color: black;
  font-size: 18px;
}
.voltar{
  display: flex;
  justify-self: center;
  align-items: center;
  margin-left: 30px;
}
.esqueciSenha {
  display: flex;
  margin-top: 15px;
  font-size: 15px;
  margin-left: 15px;
}

.btn {
  background-color: #e1b000;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
  border: none;
  align-items: center;
  margin-left: 100px;
}

.bnt.animate {
  animation: animate-outline 1s ease-ou infinite;
}

.btn:hover {
  background-color: rgb(206, 144, 0);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #e1b000;
  }

  to {
    outline: 15px solid #e1b000;
  }
}

/* ----------------------------------- Botão --------------------------------------- */

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #e1b000;
  background: linear-gradient(90deg, #e1b000 0%, rgb(255, 235, 80) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #e1b000;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

----- button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  /* border: 1px solid #26456d; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out infinite;
}

/* ------------------BOTOES------------------------ */

input {
  display: flex;
  place-items: center;
  background-color: #ffffff;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
  padding: 0.9rem 0.9rem;
  align-items: center;
  justify-content: center;
  width: 370px;

}

.campos {
  display: flex;
  margin-left: 50px;
}

.img1 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 88%;
}

.espacoBranco {
  display: flex;
}

.espaco {
  display: flex;
  background-color: rgb(186, 223, 151);
  height: 100px;
  padding: 53px 49px;
}

.espaco2 {
  display: flex;
  background-color: rgb(168, 218, 120);
  height: 300px;
  padding: 53px 40px;
  margin-top: 0px;
}
