@media (max-width: 1366px){
    header{
        display: flex;
        padding: 18px;
        background-color: #2b2b2b;
        padding-left: 800px;
      }
      header .nav{
          position: absolute;
          width: 100%;
          padding: 40px 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .titulo-vendidos{
        display: flex;
        width: 50vw;
        padding: 20px;
        margin-left: 350px;
        justify-content: center;
        align-items: center;
        background-color: rgb(48, 25, 107);
        border: 1px solid rgb(214, 214, 214);
        border-radius: 10px;
        color: #fff;
      }
      .carousel-produtos {
        width: 100vw;
        padding: 0 100px;
        display: flex;
        background-color: #fff;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        position: relative;
      }
}