@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

span {
  color: #e1b000;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(48, 25, 107);
}

.fundoPrincipal {
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url(./img/fundo.jpg);
  background-repeat: no-repeat;
  height: 613px;
}
.fundoPrincipal .containerInfo{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.459);
	border-radius: 25px;
    border: none;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 400px;
	max-width: 500px;
	width: 150%;
  margin-top: 80px;
  margin-left: 80px;
}
.containerInfo h2{
  display: flex;
  margin-top: 40px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: 700;
  
}
.containerInfo p{
  display: flex;
  font-size: 20px;
  font-weight: 700;
  padding: 25px;
  color: #fff;
}
.containerInfo .social{
  display: flex;
  
}

.fundoPrincipal ul {
  display: flex;
  flex-direction: row;
  border: none;
  gap: 25px;
  margin-top: 30px;
  margin-left: 25px;
}
li{
  list-style: none;
}

.imagens .imagemCao{
  display: flex;
  margin-left: 300px;
  margin-top: 20px;
}

/* ------------------------------------------ Botão Login ----------------------------- */

.btn {
  background-color: #e1b000;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.bnt.animate {
  animation: animate-outline 1s ease-ou infinite;
}

.btn:hover {
  background-color: rgb(206, 144, 0);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #e1b000;
  }

  to {
    outline: 15px solid #e1b000;
  }
}

/* ----------------------------------- Botão --------------------------------------- */

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #e1b000;
  background: linear-gradient(90deg, #e1b000 0%, rgb(255, 235, 80) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #e1b000;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

----- button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out infinite;
}


/* ------------------------------------- Header ---------------------------- */
header {
  display: flex;
  background-color: #2b2b2b;
  height: 120px;
  width: 100vw;
}

header .nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header .logo {
  margin-left: 40px;
  margin-bottom: 30px;
  width: 180px;
  height: 100px;
}

.nav nav ul {
  margin-left: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul a {
  color: aliceblue;
  margin: 0px;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
}

nav ul a:not(.btn)::after {
  content: "";
  background-color: #e1b000;
  height: 3px;
  width: 0%;
  display: block;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

nav li {
  list-style: none;
}

nav li a {
  padding: 10px 0px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  margin-left: 50px;
}

/* --------------------------VANTAGENS --------------------------- */
.homeVantages {
  display: flex;
  width: 100vw;
  padding: 30px;
  margin-bottom: 30px;
  max-width: 150px;
}

.advantage-list {
  display: flex;
  width: 1300px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;


}

.advantage-item {
  width: 50vw;
  padding: 20px;
  display: flex;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  box-shadow: 0 0 10px 0px;
}

.advantage-img {
  float: left;
  margin-right: 0.75rem;
  vertical-align: middle;
  box-sizing: border-box;
}

.advantage-text {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 132%;
  color: #454545;
  float: left;

}

/* ------------------TITULO VENDIDOS ------------------- */
.titulo-vendidos {
  display: flex;
  width: 50vw;
  padding: 20px;
  margin-left: 350px;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 25, 107);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  color: #fff;
  margin-bottom: 50px;

}

.titulo-vendidos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------Produtos------------ */



#slider-container {
  display: flex;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  flex-direction: row;
}

#slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 1500px;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  gap: 50px;
  margin-left: 100px;
}

.slide {
  box-sizing: border-box;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 0 0 20px 0px;
  height: 420px;
}

.slide img {
  max-height: 500px;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.hot {
  display: flex;
  width: 60px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  background: rgb(84, 0, 122);
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
}

.boxProduto {
  width: 275px;
  background: #fff;
  margin-top: 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 0 0 20px 0px;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  transition: transform 0.5s ease-in-out;

}
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


#tituloProduto {
  display: flex;
  width: 250px;
  margin-bottom: 25px;
  color: rgb(48, 25, 107);
  font-size: 20px;
  background-color: #fff;
  max-height: 25px;
}

#preco2 {
  display: flex;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(84, 0, 122);
  max-height: 10px;
  
}
.btnCompra{
  background-color: #e1b000;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.btnCompra.animate {
  animation: animate-outline 1s ease-ou infinite;
}

.btnCompra:hover {
  background-color: rgb(206, 144, 0);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #e1b000;
  }

  to {
    outline: 15px solid #e1b000;
  }
}

/* --------------------------Banho------------ */
.content-banhotosa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  height: 90vh;
 /* place-items: center;*/
}

.imgFundo{
  background-image: url(./img/banho.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
}
 .contentBanho{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 25px;
  box-shadow: 0 0.9rem 1.7rem rgba(17, 17, 17, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.288);
  width: 550px;
  height: 350px;
 flex-direction: column;
  margin: 0px auto;
  margin-top: 100px;
}
.content-banhotosa .contentBanho h1{
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  width: 450px;
  margin-top: 50px;
 
}
.btn2 {
  background-color: #e1b000;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.bnt2.animate {
  animation: animate-outline 1s ease-ou infinite;
}

.btn2:hover {
  background-color: rgb(206, 144, 0);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #e1b000;
  }

  to {
    outline: 15px solid #e1b000;
  }
}

/* ----------------------------FOTER--------------- */
.contentFooter{
  display: flex;
  background-color: #2b2b2b;
  height: 110px;
  width: 100%;
  flex-direction: row;
  gap: 250px;
}
.contentFooter .logo {
  margin-left: 40px;
  width: 180px;
  height: 100px;
}
.contentFooter .copy{
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 10px;
  margin-left: 50px;
}
.contentFooter .social{
  display: flex;
  width: 300px;
}
.contentFooter .social ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  gap: 50px;
}