* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

span {
  color: #e1b000;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(48, 25, 107);
}

.principal {
  background-size: cover;
  background-position: center;
  background-image: url();
}

/* ------------------------------------------ Botão Login ----------------------------- */

.btn {
  background-color: #e1b000;
  color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.bnt.animate {
  animation: animate-outline 1s ease-ou infinite;
}

.btn:hover {
  background-color: rgb(206, 144, 0);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #e1b000;
  }

  to {
    outline: 15px solid #e1b000;
  }
}

/* ----------------------------------- Botão --------------------------------------- */

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #e1b000;
  background: linear-gradient(90deg, #e1b000 0%, rgb(255, 235, 80) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #e1b000;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
----- button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  /* border: 1px solid #26456d; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out infinite;
}


/* ------------------------------------- Header ---------------------------- */
header {
  display: flex;
  padding: 20px;
  background-color: #2b2b2b;
  padding-left: 870px;
}

header .nav {
  position: absolute;
  width: 100%;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  position: relative;
  padding: 100px 100px;
}

nav ul {
  position: relative;
  display: flex;
}

nav ul a {
  color: aliceblue;
  margin: 0px;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
}

nav ul a:not(.btn)::after {
  content: "";
  background-color: #e1b000;
  height: 3px;
  width: 0%;
  display: block;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

nav li {
  list-style: none;
}

nav li a {
  padding: 10px 0px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 15px;
  margin-left: 50px;
}
/* --------------------------VANTAGENS --------------------------- */
.homeVantages{
  display: flex;
  width: 100vw;
  padding: 30px;
  margin-bottom: 30px;
  max-width: 150px;
}
.advantage-list{
  display: flex;
  width: 1300px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  

}
  .advantage-item{
    width: 50vw;
  padding: 20px;
    display: flex;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  box-shadow: 0 0 10px 0px;
}
.advantage-img {
  float: left;
    margin-right: 0.75rem;
  vertical-align: middle;
  box-sizing: border-box;
}
.advantage-text{
  margin: 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 132%;
    color: #454545;
    float: left;
    
}
/* ------------------TITULO VENDIDOS ------------------- */
.titulo-vendidos{
  display: flex;
  width: 50vw;
  padding: 20px;
  margin-left: 350px;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 25, 107);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  color: #fff;
  margin-bottom: 50px;
  
}
.titulo-vendidos{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------Produtos------------ */
.carousel-produtos {
  padding: 100px;
  display: flex;
  background-color: #e40000;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  position: relative;
  max-width: 150px;
  
}
.categoriaProdutos{
  
  max-height: 500px;
}

.carousel-produtos i {
  background-color: rgb(48, 25, 107);
  color: #fff;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%);
  
}
.carousel-produtos i:first-child{
  left: 25px;
}
.carousel-produtos i:last-child{
  right: -1158px;
}

.badge {
  display: flex;
  width: 60px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
  border: 1px solid red;
  border-radius: 3px;
}
.boxProduto {
  width: 275px;
  background: #fff;
  margin-top: 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  box-shadow: 0 0 20px 0px;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  
}

.tumbnail_imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tituloProdtuo {
  display: flex;
  width: 250px;
  padding: 10px;
  margin-bottom: 25px;
  color: rgb(48, 25, 107);
  font-size: 15px;
  background-color: #fff;
  max-height: 120px;
}

.preco {
  display: flex;
  width: 250px;
  color: #2b2b2b;
  
}

.preco p {
  display: flex;
  padding: 15px;
  
  
}

.preco2 {
  display: flex;
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(85, 32, 218);
}

/* --------------------------Banho------------ */
.content-banhotosa{
  display: flex;
  margin-top: 100px;
}
.img-banho{
  display: flex;
  width: 1345px;
}