@media (max-width: 1366px){
    header{
        display: flex;
        padding: 18px;
        background-color: #2b2b2b;
        padding-left: 800px;
      }
      header .nav{
          position: absolute;
          width: 100%;
          padding: 40px 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
}
@media (max-width: 900px){

}
@media (max-width: 550px){
    
}